@using Resources = ASPNetMVC.Properties.Resources
@*<script src="~/assets/js/animations.min.js"></script>
<script src="~/assets/js/appear.min.js"></script>
<script src="~/assets/js/bootstrap.js"></script>
<script src="~/assets/js/custom-solid.js"></script>
<script src="~/assets/js/custom.js"></script>
<script src="~/assets/js/jquery-1.11.1.js"></script>
<script src="~/assets/js/jquery.easing.min.js"></script>
<script src="~/assets/js/jquery.isotope.js"></script>
<script src="~/assets/js/vegas/jquery.vegas.min.js"></script>
<script src="~/assets/js/source/jquery.fancybox.js"></script>*@

<!--TEAM SECTION START-->
<section id="team1">
    <div class="container">
        <div class="row animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('assets/img/team/1.jpg')">
                        <a href="Education/Baby"> <i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="description">
                        <a href="Education/Baby"><h3 style="color:white;background-color:blue"> @Resources.BabyEdu</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('assets/img/team/2.jpg')">
                        <a href="Education/EnglishStudy"> <i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="description">
                        <a href="Education/EnglishStudy"><h3 style="color:white;background-color:blue"> @Resources.EnglishStudy</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            </div>
        </div>
    </div>
</section>
<section id="team2">
    <div class="container">
        <div class="row animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('assets/img/team/3.jpg')">
                        <a href="Education/AuPrimary"> <i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="description">
                        <a href="Education/AuPrimary"><h3 style="color:white;background-color:blue"> @Resources.AuPrimaryEdu</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('assets/img/team/4.jpg')">
                        <a href="Education/Family"> <i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="description">
                        <a href="Education/Family"><h3 style="color:white;background-color:blue"> @Resources.FamilyEdu</h3></a>
                        <div style="text-align:center"><h3>献给孩子的爱</h3></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('assets/img/team/5.jpg')">
                        <a href="Education/Luntang"> <i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="description">
                        <a href="Education/Luntang"><h3 style="color:white;background-color:blue"> @Resources.LuntangEdu</h3></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--TEAM SECTION END-->
